.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #A2C11C !important;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #253036 !important;
}

.downBorder{
    border: 0px 0px 0px 12px solid;
}